build*/
*.0
*.obj
*.dll
*.so
*.dylib
*.exe
*.a
*.dylib
*.qrc.dep
moc_*
ui_*
qrc_*
*.pro.user
*.pro.user.*
*.qmlc
*.jsc
*.qmlproject.user
*.qmlproject.user.*
*.qm
*.autosave

*.user
*.user.*
*.swp
*.kate-swp

.DS_Store
Thumbs.db

*.log
